$color-primary: #FF9900;
$color-primary-hover: #FF6600;
$color-secondary: #555;
$color-black: #000;
$color-white: #fff;
$color-success: #5cb85c;
$color-error: #f44336;

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
// $font-family: 'IBM Plex Sans', sans-serif;

$max-width: 300px;