$color-primary: #ef4723;
$color-secondary: #555;
$color-black: #000;
$color-white: #fff;
$color-success: #5cb85c;
$color-error: #f44336;

$font-family: 'IBM Plex Sans', sans-serif;

$max-width: 500px;