#person-form {
  font-family: $font-family;
  max-width: $max-width;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.person-title {
  margin-top: 0;
}

.form-container {
  display: flex;
  flex-direction: column;

  .form-label {
    margin-bottom: 0.3rem;
    text-align: left;
  }

  .form-input {
    border-radius: 5px;
    border: 2px solid;
    border-color: $color-secondary;
    padding: 0.31rem;
    font-size: 1rem;
    height: 1.5rem;
    margin-bottom: 1rem;
      
    &:hover {
      border-color: $color-black;
    }

    &::placeholder {
      color: #bbb;
    }
  }

  .radio-container {
    display: flex;
    justify-content: space-between;

    .form-label {
      margin-bottom: 0.3rem;
      text-align: left;
      
      &.radio-person {
        display: flex;
        align-items: center;
      }
      
      .form-input-radio {
        margin: 0 0.3rem 0 0;
      }
    }  
  }

  .block-buttons {
    display: flex;
    margin: 1rem 0;

    .action-button {
      align-items: center;
      border-radius: 0.31rem;
      background-color: $color-primary;
      border: 2px solid $color-primary;
      color: $color-white;
      cursor: pointer;
      display: flex;
      font-size: 0.8rem;
      height: 1.5rem;
      justify-content: center;
      padding: 1rem;
      width: 100%;
  
      &:hover {
        background-color: $color-primary-hover;
        border: 2px solid $color-black;
      }
  
      &.secondary {
        background-color: $color-white;
        border: 2px solid  $color-primary;
        color: $color-primary;
        margin-right: 1rem;

        &:hover {
          border: 2px solid  $color-black;
          color: $color-black;
        }
      }

      &.block {
        background-color: $color-secondary;
      }
    }
  }

  .error {
    color: $color-error;
  }
}